              <!-- 自定义样式 -->
              <style>
                .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
                  background: #333030;
                  color: #e3dede
                }
                .cbp_tmtimeline>li .cbp_tmlabel {
                  background: #333030;
                  color: #e3dede
                }
                .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
                  border-right-color:  #333030
                }
                .cbp_tmtimeline>li .cbp_tmlabel:after {
                  border-right-color:  #333030
                }
                .button {
                  background: #333030;
                  color: #e3dede
                }
              </style>

              <!-- 自定义样式.end -->
